body {
	background-color: #F0F7EE;
	margin:  0px;
}

html *
{
	font-family:  "Helvetica Neue";
	color: #2C1320;
}

.content {
	margin: 5px;
}

.top-bar {
	text-align: center;
	background-color: #5D737E;
  	align-items: center;
  	padding-top:  0;
  	/* margin-left:  -8px;
  	margin-right: -8px;
  	margin-top: -8px; */
  	overflow: hidden;
  	position: sticky;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top:  102px;
}

.negative-title {
	color: #E1E6E1;

}